pip install openpyxl
pip install streamlit-modal
pip install streamlit-extras
pip install google-generativeai
pip install python-dotenv
pip install streamlit

pip install streamlit-cookies-controller

pip install -U poe-api-wrapper[async]
pip install nest_asyncio


pip install sentence_transformers